* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

:root {
  --primary-clr: #eaeaff; 
  --secondary-clr: #0c0c48; 
  --accent: rgb(100, 100, 248); 
  --heading-1-size: 1.7rem; 
  --heading-2-size: 1.25rem; 
  --heading-3-size: 1.1rem; 
}

body {
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
}

.basic-info {
  font-size: var(--heading-1-size);
  margin-top: 10%; 
}

h1 {
  font-size: var(--heading-1-size);
  color: var(--secondary-clr);
  text-align: center;
}
 
.error h3 {
  margin-top: 20px; 
  text-align: center;
  font-size: var(--heading-3-size);
}

.btn {
  display: inline-block; 
  text-transform: uppercase;
  padding: 8px 12px; 
  outline: none; 
  border: none; 
  color: white; 
  background-color: var(--accent);
  transition: all .3s ease;
  text-decoration: none;
  width: 100px; 
  margin-left: 50%; 
  transform: translateX(-50%);
  text-align: center;
  border-radius: 10px; 
  margin-top: 20px; 
  font-size: .9rem; 
}
.btn:hover {
  background-color: var(--secondary-clr);
  color: #fff;
}
